/* GeneralFormatting */

* {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fffe9e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    }


header {
    flex: 1;
    background-color: #9ea0ff;
    margin: 40px 40px 40px 40px;
    font-weight: bold;
    font-size: 35px;
    border-radius: 10px;
}

h1 {
    background-color: #9ea0ff;
    font-weight: 300;
    margin: 0 40px 20px 40px;
    border-radius: 10px;
    padding: 10px;
}


/* Buttons */

button {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
    border: 0px;
    width: 250px;
    height: 75px;
    background-color: #9ea0ff;
}

.start {
    background-color: #9ea0ff;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}


.startQuiz {
    background-color:#9effcd;
    padding: 25px;
    width: 250px;
    margin: 20px;
    text-align: center;
    font-size: 24px;
}

.noQuiz {
    background-color: #ff9ed0;
    padding: 25px;
    width: 250px;
    margin: 20px;
    text-align: center;
    font-size: 24px;
}

/* Questions*/
.answer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}

ul {
    list-style-type: none;
}

.buttonRadio, input[type="radio"] {
    /* padding: 40px; */
    border-radius: 10px;
    background-color:#9ea0ff;
    text-align: center;
    margin: 10px;
    /* width: 250px; */
}







@media all and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
    }
}