main {
	width: 800px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	align-items: center;
	justify-content: center;

	flex-direction: column;
	padding: 20px;
}

body {
    background-color: #fffe9e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }


main#start,
main#end {
	text-align: center;
}

article {
	width: 100%;
	margin: 20px;
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 0.25rem;
	overflow: hidden;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

article .inner {
	padding: 30px 20px;
}

article footer {
	padding: 10px;
	text-align: center;
	background-color: rgba(219, 219, 219, 0.8);
}

h1,
.large {
	margin-top: 0;
	font-weight: bold;
	font-size: 1.5rem;
}

button {
	margin-top: 20px;
	background-color: rgb(0, 0, 0);
	color: white;
	padding: 0.5rem 1rem;
	transition: ease-in-out 0.1s;
}

button:hover {
	background-color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.answer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 2px 5px;
}

.answer span {
	width: 20px;
}

.answer * {
	margin: 2px 5px;
}

.answer.correct {
	border: 3px solid limegreen;
	border-radius: 0.25rem;
	margin: 5px 0;
}

.answer.incorrect {
	margin: 5px 0;
	border: 3px solid firebrick;
	border-radius: 0.25rem;
	color: firebrick;
}

.answer p {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0;
	padding: 5px 0;
}

.answer.correct label,
.answer.correct p {
	color: limegreen;
}

.answer svg {
	fill: currentColor;
}

footer.footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	background-color: white;
}

/* new css ends */
/* Buttons */

.submit-answer {
    border-radius: 5px;
    background-color: #9ea0ff;
    border: none;
    width: auto;
    padding: 20px 20px 20px 20px;
}
.finish-quiz{
    border-radius: 5px;
    background-color: #9ea0ff;
    border: none;
    padding: 5%;
}

.restart-quiz {
    border-radius: 10px;
    background-color: #9ea0ff;
    border: none;
    padding: 5%;
    margin-bottom: 15px;
    height: 75px;
    width: 40%;
}
.new-quiz {
    border-radius: 10px;
    background-color: #9ea0ff;
    border: none;
    padding: 5%;
    height: 75px;
    width: 40%;
}

.next-question {
    border-radius: 10px;
    background-color: #9ea0ff;
    border: none;
    padding: 5%;
    margin-bottom: 3%;
    height: 75px;
    width: 40%;
}


.start-quiz {
    background-color: #9ea0ff;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.no-quiz {
    background-color: #9ea0ff;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

/* Questions*/
.answer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}

ul li {
    list-style-type: none;
    text-align: left; 
    padding-bottom: 10px;
    
}

p {
    padding-bottom: 10%;

}


input[type="radio"]{
    margin-right: 15px;
}




@media all and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
    }
}